body{
    width: 100%;
    height: 100%;
    background: url(../img/white_carbon.png); /* from https://subtlepatterns.com/*/
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size:  20px;
    letter-spacing: 1px;
    
}

#container{
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    
}

.form-group{
    background-color: #fafafa;
    margin: 15px;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;

    -webkit-box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    -moz-box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    
    
}

.exp{
    width:622px;
}





form{
    margin:  10px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}

td,th{
    padding: 15px 10px 15px 10px;
    
}


tr{
    border-top: 1px solid #b1b1b1;
    
}

.none-border{
    border: none;
}

input[type=text]{
    padding-left: 4px;
    padding-right: 4px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    font-family: 'Lato', sans-serif;
    font-size:  15px;
    
}

button{
    height: 36px;   
    width: 110px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid rgba(76, 175, 80, 0.86);
    font-family: 'Lato', sans-serif;
    font-size:  15px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f7f7f7;
    background-color: #4CAF50;
    
}
select{
    height: 36px;
    width: 110px;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    font-family: 'Lato', sans-serif;
    font-size:  15px;
    text-align-last:center;
    background-color: white;
    
    
}

.sidebarContainer{
    position: fixed;
    top:0;
    left:0;
    
    z-index: 1050;
    
    display: block;
    border-right: 1px solid #29313b;
    -webkit-box-shadow: 3px 1px 9px -1px rgba(52, 62, 75, 0.85);
    -moz-box-shadow:    3px 1px 9px -1px rgba(52, 62, 75, 0.85);
    box-shadow:         3px 1px 9px -1px rgba(52, 62, 75, 0.85);
    
}

.sidebar{
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 0px;
    background: rgb(52, 62, 75);
    box-sizing: border-box;
    font-size: 14px;
   
    list-style: none;
}

 .sidebar > li >a{
    font-size: 14px;
    color: #ffffff;
    display: block;
    padding:  0.5em 0em 0.5em 10px;
    text-decoration: none;
   
}

.sidebarContainer,  .sidebar{
    width: 155px;
    height: 100%;
}

.sidebar > li {
    
    margin: 10px 0px;
    color: white;
}
.sidebar > li:hover{
    background: #4CAF50;
    
}

.sidebar >li:nth-last-child(1){
   position: absolute;
    bottom:32px;
    right: 0px;
    left: 0px;
    

}

.ico{
    height: 40px;
    width: 40px;
    background: url(../img/profle.png);
    background-size: 40px 40px;
    float: left;

}

.profile{
   padding-left: 10px;
    color: white;
    
}

.profileName{
    float: left;
    margin-left: 5px;
    padding-right: 2px;
    word-wrap:break-word;
    max-width:100%;
}
.clearfix{
    clear: both;
}