.table{
    float: left;

    width: 300px;
    -webkit-box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    -moz-box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    box-shadow: 7px 7px 26px -8px rgba(105,105,105,1);
    
    
}
.table > td{
    max-width:180px;
    word-wrap: break-word;
}
.user{
    float: left;
    
}

#container{
    margin-left: 200px;
}

table{
    width: 300px;
    margin: 0px;
}

#expt{
    width: 600px;
    margin: 10px;

}
