<!DOCTYPE html>
<html>
<head>
    <title>Wydatki</title>
    <meta charset="utf-8"/>
    <link href="../public/style/style.css" rel="stylesheet" type="text/css">
    <link href="../public/style/addUser.css" rel="stylesheet" type="text/css">
    <link href="../public/style/table.css" rel="stylesheet" type="text/css">
    <link href="../public/style/summary.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>

<div id="container">

    <nav class="sidebarContainer">

        <ul class="sidebar">
            <div class="profile">
                <div class="ico"></div>
                <div class="profileName"><p>{{.UserName}}</p></div>
                <div class="clearfix"></div>
            </div>

            <li><a href="/" class="siede-link">Start</a></li>
            <li><a href="/new/expense" class="siede-link">Wydatki</a></li>
            <li><a href="/new/category" class="siede-link">Kategoria</a></li>
            <li><a href="/summary" class="siede-link">Podsumowanie</a></li>
            <li><a href="/user/logout" class="siede-link">Wyloguj się</a></li>

        </ul>

    </nav>
    <p style="color: red;">{{.BadNumberFormat}}</p>
    <div class="form-group exp">

        <form method="post" action="/expense/create">
            <table>
                <thead>
                <tr class="none-border">
                    <th>Kategoria</th>
                    <th>Kwota</th>
                    <th>Opis</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <select name="category">
                            {{range .Categories}}
                            <option>{{.Name}}</option>
                            {{end}}
                        </select>
                    </td>
                    <td><input type="text" name="amount"/></td>

                    <td><input type="text" name="desc"/></td>
                </tr>


                </tbody>

            </table>
            <button type="submit">Zapisz</button>
        </form>

    </div>

    <div class="form-group exp">


        <table id="expt">
            <thead>
            <tr class="none-border">
                <th>Kategoria</th>
                <th>Kwota</th>
                <th>Opis</th>

            </tr>
            </thead>

            <tbody>
            {{range .Expenses}}
            <tr>
                <td>{{.Category}}</td>
                <td>{{.Amount}}</td>
                <td>{{.Description}}</td>
            </tr>
            {{end}}


            </tbody>

        </table>


    </div>


</div>

</body>

</html>
